
{% load static %}
{% block content %}

<div class="d-flex flex-column bd-highlight mb-3 border border-secondary">
    {%if post.user == request.user %}
    <div class="p-2 bd-highlight ">
        vous avez publié une critique
    </div>
    {% else %}
    <div class="p-2 bd-highlight ">
        {{post.user}} a publié une critique
    </div>
    {%endif%}
    <div class="title fw-bold border-bottom border-light ps-2">
        {{ post.headline }} - {{post.rating}} &#x2605;
    </div>
    <!-- <div class="title fw-bold border-bottom border-light ps-2">
        {{ post.headline }} - {{post.rating}} étoile(s)
      </div> -->
    <div class="p-2 bd-highlight">
        {{post.body}}
    </div>
    {% if post.ticket is not None %}
    <div class="ticket col-10 border border-dark p-2 m-2">
        {% if post.user == request.user%}
            Ticket - Vous
        {% else %}
            Ticket - {{ post.ticket.user.username }}
        {%endif%}
        <div class="title">
            {{ post.ticket.title }}
        </div>
        <div class="description">
            {{ post.ticket.description }}
        </div>
        {% if post.ticket.image %}
        <div class="image">
            <img src="{% get_media_prefix %}{{ post.ticket.image }}" alt="ticket_image" class="img-thumbnail w-25">
        </div>
        {% endif %} 
    </div>
{% endif %}
    <div class="d-flex justify-content-end align-items-end">
        <div class="p-2 mb-3 bd-highlight">
            <a class="p-2 rounded border border-dark" href="">Modifier</a>
        </div>
        <div class="p-2 mb-3 me-3 bd-highlight">
            <a class="p-2 rounded border border-dark" href="{% url 'delete_review' post.id%}">Supprimer</a>
        </div>
    </div>
</div>
{% endblock %}