
{% block content %}
{% load static %}
<style>
	a, a:hover {
		text-decoration:none;
  		color: black;
	}
</style>
<div class="d-flex flex-column bd-highlight mb-3 border border-secondary fs-5">
	{%if post.user == request.user %}
	<div class="p-2 bd-highlight ">
		Ticket - Vous avez demandé une critique
	</div>
	{% else %}
	<div class="p-2 bd-highlight ">
		Ticket - {{post.user}} a demandé une critique
	</div>
	{% endif %}
	<div class="text-end fs-6 m-2 fst-italic"> 
        {{post.time_created|date:"H:i, d M Y" }}
    </div>
	<div class="p-2 bd-highlight">
		{{post.title}}
	</div>
	<div class="p-2 bd-highlight">
		{{post.description}}
	</div>
	{% if post.image %}
	<div class="p-2 bd-highlight">
		<img src="{% get_media_prefix %}{{post.image}}" alt="image" class="img-thumbnail w-25">
	</div>
	{% endif %}
	{% if post.reviewed == False %}
	<div class="d-flex justify-content-end">
		<div class="p-2 mb-3 bd-highlight">
			<a class="p-2 rounded border border-dark" href="{% url 'create_review' post.id%}">Créer une critique</a>
		</div>
	</div>
	{% endif %}
</div>

{% endblock %}