{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
	ul#id_rating {
		display: flex;
	}
	ul#id_rating li{
		display: inline-block;
		flex: 1;
	}
</style>
<div class="d-flex justify-content-center">
	<div class="col-md-6">
		<div class="d-flex justify-content-center fs-2">Créer une critique</div>
		<form action="" method="post">
			{% csrf_token %}
			<div  class="border border-dark">Vous êtes en train de poster une critique en réponse à: 
				{{form.ticket.title}}
			</div>
			<div  class="border border-dark"> Critique
				
					<div class="d-flex flex-column">
						<div class="card card-body border-white"> Titre:
						{{form.headline}}
						</div>
						<div class="card card-body border-white">Note :
							<div class="form-check form-check-inline border-white">
								{{form.rating}}
							</div>
						</div>
						<div class="card card-body border-white"> Commentaire:
							{{form.body}}
						</div>
							{{form.errors}}
					</div>
					<div class="d-flex justify-content-end">
						<button type="submit" class="rounded">Envoyer</button>
					</div>
				</form>
				<!-- {% for message in messages%}
				<p id="message">{{message}}</p>
				{% endfor %} -->
			</div>
	</div>
</div>


{% endblock %}