{% extends 'main.html' %}
{% load static %}
{% block content %}
<!--<div class="d-flex justify-content-center">-->
<!--	<div class="col-md-6"> envoyer la page de ticket-->
<!--{% for review in reviews %}-->
<!--  {% if review.ticket_id == None %}-->
<!--    {% include 'ticket/ticket.html' %}-->
<!--  {% endif %}-->
<!--{% endfor %}-->
<!--	</div>-->
<!--</div>-->
<div class="d-flex justify-content-center">
	<div class="col-md-6">
		<div class="d-flex justify-content-center fs-2">Créer une critique</div>
			<div  class="border border-dark"> Critique
				<form action="" method="post">
					{% csrf_token %}
<!--					{{form.as_p}}-->

					<div class="d-flex flex-column">
						<div class="card card-body border-white"> Titre:
						{{form.headline}}
						</div>
						<div class="card card-body border-white">Note :
							<div class="form-check form-check-inline border-white">
								{{form.rating}}
							</div>
						</div>
<!--						<div class="form-check form-check-inline">-->
<!--							<div class="form-check form-check-inline">-->
<!--								<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio0" value="option0">-->
<!--								<label class="form-check-label" for="inlineRadio0"> - 0</label>-->
<!--							</div>-->
<!--							<div class="form-check form-check-inline">-->
<!--							  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">-->
<!--							  <label class="form-check-label" for="inlineRadio1"> - 1</label>-->
<!--							</div>-->
<!--						</div>-->
						<div class="card card-body border-white"> Commentaire:
							{{form.body}}
						</div>
							{{form.errors}}
					</div>
					<div class="d-flex justify-content-end">
						<button type="submit" class="rounded">Envoyer</button>
					</div>
				</form>
			</div>
		{% for message in messages%}
		<p id="message">{{message}}</p>
		{% endfor %}
	</div>
</div>


{% endblock %}