
{% load static %}
{% block content %}
<hr>
<h2>les critiques</h2>
{% for review in reviews %}
<div class="d-flex flex-column bd-highlight mb-3 border border-secondary align-items-start">
    <div class="p-2 bd-highlight ">
        {{review.user}} a publié une critique
    </div>
    <div class="p-2 bd-highlight">
        {{review.headline}} - {{review.rating}}
    </div>
    <div class="p-2 bd-highlight">
        {{review.body}}
    </div>
    <div class="p-2 bd-highlight">
        {{review.ticket}}
    </div>
    <div class="p-2 bd-highlight">
        <a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_review' ticket.id%}">Répondre</a>
    </div>
</div>
{% endfor %}
{% endblock %}