{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
	ul#id_rating {
		display: flex;
	}
	ul#id_rating li{
		display: inline-block;
		flex: 1;
	}
</style>

<div class="d-flex justify-content-center">
	<div class="col-md-7">
		<div class="d-flex justify-content-center fs-2 p-4">Créer une critique</div>
		<div  class="border border-dark"> Livre / Article
			<form action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}

				<div class="d-flex flex-column">
					<div class="card card-body border-white"> Titre:
					{{ticket_form.title}}
					</div>
					<div class="card card-body border-white"> Description:
					{{ticket_form.description}}
					</div>
					<div class="card card-body border-white"> Image:
					{{ticket_form.image}}
					</div>
<!-- {{ticket_form.errors}} -->
				</div>
			</form>
		</div>
	</div>
</div>
<div class="d-flex justify-content-center">
	<div class="col-md-7">
		<div  class="border border-dark"> Critique
			<form action="" method="post">
				{% csrf_token %}

				<div class="d-flex flex-column">
					<div class="card card-body border-white"> Titre:
					{{review_form.headline}}
					</div>
					<div class="card card-body border-white">Note :
						<div class="form-check form-check-inline border-white">
							{{review_form.rating}}
						</div>
					</div>
					<div class="card card-body border-white"> Commentaire:
						{{review_form.body}}
					</div>
		<!-- {{review_form.errors}} -->
				</div>
				<div class="d-flex justify-content-end">
					<button type="submit" class="rounded">Envoyer</button>
				</div>
			</form>
		</div>
		{% for message in messages%}
		<p id="message">{{message}}</p>
		{% endfor %}
	</div>
</div> 
{% endblock %}