{% extends 'main.html' %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="col-md-6">
		<div class="d-flex justify-content-center fs-2 p-5">Suivre d'autres utilisateurs
		</div>
  			<form action="{% url 'add_followers' %}" method="post">
				{% csrf_token %}
				<div class="col-9 d-inline-block border border-dark">
    				<input class="form-control text-center" type="text" name="username" placeholder="Nom d'utilisateur">
				</div>
				<div class="col-2 d-inline-block">
					<button class="p-2 bd-highlight rounded border border-dark">Envoyer</button>
				</div>
			</form>

		<div class="d-flex justify-content-center fs-2 p-5">Abonnements
		</div>
			<div class="d-flex bd-highlight">
				{% for user in following %}
				<div class="p-2 flex-grow-1 bd-highlight border border-dark">{{ user.followed_user.username }}</div>
				<button type="submit" class="p-2 bd-highlight border border-dark">Desabonner</button>
				{% endfor %}
			</div>
		<div class="d-flex justify-content-center fs-2 p-5">Abonnés
		</div>
		<div class="d-flex bd-highlight">
			{% for user in followed_by %}
			<div class="p-2 flex-grow-1 bd-highlight border border-dark">{{ user.followed_user.username }}</div>
			<button type="submit" class="p-2 bd-highlight border border-dark">Desabonner</button>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
